<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
	<div data-role="page" id="page-1">
		<div data-role="header">
			<h1>Word2vec that matches keyword</h1>
			<h2 th:text="${keyWord}"></h2>
		</div>
		<div data-role="content">
			<table>
				<thead><tr>
					<th>keyword</th>
					<th>vector</th>
					<th>nearest</th>
				</tr></thead>
				<tr>
					<td th:text="${word2vec.keyWord}">id</td>
					<td th:text="${word2vec.wordVectorToString()}">title</td>
					<td>
						<ul>
							<li th:each="nearWord : ${word2vec.wordsNearest}">
								<span th:text="${nearWord}"></span>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div data-role="footer">
			<h4>END</h4>
		</div>
	</div>

</body>
</html>